.inmodal .modal-header {
    text-align: left;
    padding: 1rem 1rem;
}

body{
    font-size:14px;
}

.filename {
    border: 1px solid #e7eaec;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.5em;
}

/*讓"未選擇任何檔案"的字串隱形*/
input[type=file] {
    color: #FFF;
}

.closeBtn {
    color: #ED5565;
    cursor: pointer;
}

.noticeTxt {
    color: #ED5565;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.minW {
    min-width: 130px;
}